.container {
  max-width: 1200px;
  padding: 10px;
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.dogList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.dogItem {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.dogItem h2 {
  color: black;
  font-size: 1.2em;
  margin: 10px 0;
}

.dogItem p {
  font-size: 1em;
  color: #555;
}

.dogImage {
  max-width: 150px;
  height: 150px;
  border-radius: 4px;
}
