/* .container {
  display: flex;
  flex: 1;
  font-family: "Times New Roman", Times, serif;
  background-color: #dad3cb;
}
.pet-container {
  width: 100px;
  height: 100px;
  display: flex;
  flex: 1;
  flex: wrap;
}
.footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(94, 93, 93);
} */
.breed-image {
  width: 100px;
  height: 100px;
}
