html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #dad3cb;
  margin: 0 auto;
  padding-top: 80px;
  padding: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dad3cb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
  text-align: left;
}

.progressBar {
  width: 100%;
  position: relative;
  top: 100;
}

.dogList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards in a row on large screens */
  gap: 15px;
  flex: 1;
  margin-top: 20px;
}

.dogItem {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.dogItem h2 {
  color: black;
  font-size: 1.1rem;
  margin: 10px 0;
}

.dogItem p {
  font-size: 0.9rem;
  color: #555;
}

.dogImage {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  background-color: #e0e0e0;
  object-fit: cover;
}

.footer {
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* Media queries */
@media (max-width: 1024px) {
  .dogList {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 cards in a row on medium screens */
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.2rem;
  }

  .dogList {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 cards in a row on small screens */
  }

  .dogItem h2 {
    font-size: 1rem;
  }

  .dogItem p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1rem;
  }

  .dogList {
    grid-template-columns: 1fr; /* 1 card in a row on mobile devices */
  }

  .dogItem h2 {
    font-size: 0.9rem;
  }

  .dogItem p {
    font-size: 0.7rem;
  }

  .footer {
    font-size: 0.8rem;
    padding: 15px;
  }
}
