.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #dad3cb;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.body img {
  max-width: auto;
  height: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content h2 {
  font-size: 28px;
  color: #555;
  margin-bottom: 15px;
}

.content h3 {
  font-size: 22px;
  color: #666;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  color: #777;
  line-height: 1.6;
  margin-bottom: 20px;
}
.navigateButton {
  background-color: #383b48;
  color: white;
}
.navigateButton:hover {
  background-color: #666;
  color: #383b48;
}

.footer {
  width: 100%;
  height: fit-content;
  margin-top: 40px;
  color: #120a0a;
  font-size: 14px;
  text-align: center;
  bottom: 0;
}
