body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.moreInfoContainer {
  background-color: #dad3cb;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header h2 {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: black;
}

.moreInfoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigImage {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.bigImage img {
  width: 100%;
  height: auto;
  display: block;
}

.list h2 {
  margin-bottom: 0.5rem;
  color: black;
}

.list ul {
  list-style: none;
  padding: 2px;
}

.list li {
  margin-bottom: 0.3rem;
  color: #333;
}

.footer {
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
