.header {
  background-color: #dad3cb;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.headerLink {
  display: flex;
  align-items: center;
}

.headerText {
  margin-left: 10px;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .headerText {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .headerText {
    font-size: 1rem;
  }
}
